.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-shadow: 0 0 10px #ff00ff;
}

.navbar a:hover, .navbar a.active {
    color: rgb(0, 204, 255);
    text-shadow: 0 0 20px #0ff0fc;
}